*~
#*
.#*
*.aux
*.log

/old-media

/paraview/*_lossless.webm

/paraview/lorenz_rot_100_lossless.webm
/paraview/lorenz_rot_100_crf30.webm
/docs/func-viz/media/lorenz_rot_100_crf30.html
/docs/func-viz/media/lorenz_rot_100_crf30.webm

lib/TAGS
lib/notes.txt
lib/tmp.cpp

/build
/junk
