*~
#*
.#*
*.aux
*.log

/old-media

/paraview/*_lossless.webm
/paraview/*_crf01.mp4

/paraview/lorenz_rot_100_lossless.webm
/paraview/lorenz_rot_100_crf30.webm

lib/TAGS
lib/notes.txt
lib/tmp.cpp

/build
/junk

zzz_tbd_*

/README.html
/paraview/readme.html
